.Card {
    display: flex;
    width: clamp(350px,18.6vw,18.6vw);
    height:  clamp(407px,42.2vh,42.2vh);
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    flex-direction: column;
    
    .main___Img {
        width: clamp(219px,11.6vw,11.6vw);
        pointer-events: none;
        height: clamp(248px,25.7vh,25.7vh);
    }
}



.Card__info {
    margin-top: 54px;
    display: flex;
    width:clamp(280px,16.3vw,16.3vw);
    @media (max-width:510px) {
        width:250px ;
    }
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.title__price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(17px, 0.9vw, 0.9vw);
    line-height: 21px;

    .price {
        color: #FFA542;
    }
}

.rate__buttons {
    display: flex;
    width: 100%;
    padding-top: 26px;
    justify-content: space-between;

    button {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: clamp(15px,0.8vw,0.8vw);
        line-height: 21px;
        border: none;
        background: none;
        cursor: pointer;
    }
}

.rate {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(17px, 0.9vw, 0.9vw);
    line-height: 21px;
    /* identical to box height */
    color: #838383;
    :first-child{
        width: clamp(23px, 23px, 3.2vw);
        height: clamp(23px,2.3vh,2.3vh);
    }
    P{
        padding-left: 10px;
    }
}



.rate {
    img {
        width: 24px;
        height: 22px;
    }
}